<%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
<link rel="stylesheet" href="/css/index.css">
<section class="review">
  <div class="review_box">
    <% if (reviews.length > 0) { %>

      <% reviews.forEach(review => { %>
        <h1><%= review.title %></h1>
        <img src="/uploads/<%= review.image %>" alt="">
        <p><%= review.author.name %></p>
        <a href="<%= review.url %>"><%= review.url %></a>
        <hr>
      <% }) %>

    <% } else { %>
      <p>No reviews found</p>
    <% } %>
  </div>
</section>
</body>
<%- include('partials/footer') %>
